.App {
  text-align: center;
  height: 100vh;
  background-image: url('./img/background/background4.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

a {
  color: unset;
}

@media (max-width:500px) {
  .App {
    background-position: inherit;
  }
}